# repo-b = cp / church_platform
GITHUB_OWNER=angelos0424
GITHUB_REPO=church_platform
GITHUB_PROJECT_NUMBER=4
WORKSPACE_ROOT=/srv/symphony/repo-b/worktrees
SOURCE_REPO_URL=https://github.com/angelos0424/church_platform.git
SOURCE_CACHE_ROOT=/srv/symphony/repo-b/source-cache
