# repo-a = holywords
GITHUB_OWNER=angelos0424
GITHUB_REPO=holywords
GITHUB_PROJECT_NUMBER=3
WORKSPACE_ROOT=/srv/symphony/repo-a/worktrees
SOURCE_REPO_URL=https://github.com/angelos0424/holywords.git
SOURCE_CACHE_ROOT=/srv/symphony/repo-a/source-cache
