# repo-c = saju-adult
GITHUB_OWNER=angelos0424
GITHUB_REPO=saju-adult
GITHUB_PROJECT_NUMBER=7
WORKSPACE_ROOT=/srv/symphony/repo-c/worktrees
SOURCE_REPO_URL=https://github.com/angelos0424/saju-adult.git
SOURCE_CACHE_ROOT=/srv/symphony/repo-c/source-cache
