# repo-a = activities
GITHUB_OWNER=angelos0424
GITHUB_REPO=activities
GITHUB_PROJECT_NUMBER=5
WORKSPACE_ROOT=/srv/symphony/repo-a/worktrees
SOURCE_REPO_URL=https://github.com/angelos0424/activities.git
SOURCE_CACHE_ROOT=/srv/symphony/repo-a/source-cache
